:root {
    --font-primary: 'Nunito', sans-serif;
    --font-display: 'Permanent Marker', sans-serif;

    --font-size-desktop: 20px;
    --font-size-mobile: 18px;

    --body-width: 1200px;
    --headfoot-width: 1400px;
    --body-padding: 0 50px;
    --body-padding-mobile: 0 20px;

    --border-radius: 14px;
    --animationEffect: .4s ease-in-out;

    --black: #1F1D1D;
    --white: #F7F7F7;
    --gray-mid: #7A7471;

    --primary:#268184;
    --secondary: #ab6336;
    --accent: #d7a03a;

    --gray: #DFDDDC;
    --gray-contrast: #2E2C2B;
    --primary-contrast: #5da1a3;
    --secondary-contrast: #c08a69;
    --accent-contrast: #E1B86C;

    --background-color: var(--black);
    --text-color: var(--white);
}
[data-theme="light"]:root {
    --gray: #3D3A39;
    --gray-contrast: #EBEAEA;
    --primary-contrast: #185153;
    --secondary-contrast: #814b29;
    --accent-contrast: #6C501D;

    --background-color: var(--white);
    --text-color: var(--black);
}