---
import { Icon } from "astro-icon";

interface Props {
	classname?: string;
    price: string;
    per: string;
    color: string;
    plus?: boolean;
    space?: boolean;
}
const { classname, price, per, color, plus, space } = Astro.props;
---
<div class=`card ${color} ${classname}`>
    <p class="price">${price}</p>
    <p class="per">{per}</p>
    <span class="text"><slot /></span>
</div>
{plus ? <div class="plus-icon"><Icon name="tabler:plus" /></div> : null}
{space ? <div class="plus-icon"></div> : null}

<style>
    .medium { background-color: var(--gray-mid); }
    .light { background-color: color-mix(in oklab, var(--gray-mid) 80%, var(--text-color)); }
    .lighter { background-color: color-mix(in oklab, var(--gray-mid) 50%, var(--text-color)); }
    .lightest { background-color: color-mix(in oklab, var(--gray-mid) 20%, var(--text-color)); }
    .card {
        color: var(--background-color);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5em;
        max-width: 50%;
        text-align: center;
        flex-basis: 100%;
    }
    .price {
        font-size: 1.4em;
        font-weight: 800;
        line-height: 100%;
    }
    .per {
        margin-bottom: .5em;
    }
    .text {
        font-size: .8em;
        line-height: 125%;
    }
    .plus-icon {
        margin: 4em 1em;
        min-width: 2em;
    }
    .plus-icon svg {
        width: 2em;
        height: auto;
    }

    @media (max-width: 800px) {
        .card {
            max-width: 100%;
            width: 80%;
            margin: 0 auto;
        }
        .plus-icon {
            margin: 1em auto;
        }
    }
</style>