---
import { Icon } from "astro-icon";
import { Image } from 'astro:assets';
import flowchartImg from '../../assets/process-flowchart.png';
---
<div id="popup-container">
    <div id="close">
        <Icon name="tabler:square-x" />
    </div>
    <div id="image">
        <Image src={flowchartImg} alt="Website Design & Build Process Flowchart" />
    </div>
    <!-- add descriptive text? -->
</div>

<style>
    #popup-container {
        display: none;
        background-color: color-mix(in oklab, var(--gray-contrast) 98%, transparent);
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
    }
    #close {
        position: absolute;
        right: 2em;
        top: 2em;
    }
    #close svg {
        width: 70px;
        height: auto;
    }
    #image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    #image img {
        height: 90vmin;
        width: auto;
        margin: 0 auto;
    }
</style>

<script>
    const chartBtn:any = document.querySelector('#flowchart');
    const popup:any = document.querySelector('#popup-container');
    const close:any = document.querySelector('#close');

    chartBtn.addEventListener('click', () => {
        popup.style.display = 'block';
    });

    close.addEventListener('click', () => {
        popup.style.display = 'none';
    });
</script>