---
import Button from "../Button.astro";

---

<Button type="primary" link="#!" text="Process Flowchart" idname="flowchart" />

<div id="popup-container">
    <!-- close control -->
    <!-- chart image -->
    <!-- descriptive text -->
</div>

<style>
    #popup-container {
        display: none;
        height: 100vh;
        width: 100%;
        background-color: color-mix(in oklab, var(--gray-contrast) 70%, transparent);
    }
</style>

<script>
    // on click of #flowchart show #popup-container
</script>