---
import Button from "../Button.astro";
---
<section id="action" class="section cta">
    <div class="section-container">
        <h2 class="section-title">
            Tell Me More!
        </h2>
        <p class="section-content">
            Want more details about theRamoShe's services and pricing? <br />Click one of the buttons below!
        </p>
        <div class="content-buttons">
            <Button type="primary" icon="tabler:moneybag" link="/pricing" text="Pricing" />
            <Button type="primary" icon="tabler:tools" link="/services" text="Services" />
            <Button type="primary" icon="tabler:scale" link="/compare" text="Compare" />
        </div>
    </div>
</section>