---
import ClientCards from "./ClientCards.astro";
---
<section id="clients" class="section">
    <h3 class="section-heading">
        The Proof
    </h3>
    <h2 class="section-title">
        Satisfied Clients
    </h2>
    <p class="section-intro">
        Check out some of the sites I've built for others—see my work and dream of your future!
    </p>
    <div class="section-cards">
        <ClientCards items={[
            {
                icon: `LaurenTorres`,
                title: `LaurenTorresMusic`,
                text: `Lauren is a Los Angeles based songwriter and musician. Her hand coded site shows off her music videos on YouTube, highlights information about upcoming shows and other news updates, and links to all her platforms.`,
                link: `https://laurentorresmusic.com`,
            },
            {
                icon: `AmyElephant`,
                title: `AmyBabyZ`,
                text: `Amy is a live streamer on multiple platforms. Her hand coded site links out to all her socials (even the spicy ones that are limited on other platforms) and contains a bio and shoutouts to her streaming friends.`,
                link: `https://amybabyz.com`,
            },
            {
                icon: `TroviansLogo`,
                title: `Trovians`,
                text: `The Trovians are a streaming team that started on Trovo. Their WordPress site is a merch shop with designs by theRamoShe and also features profiles for all members of the team complete with all their social links and merch.`,
                link: `https://trovians.com`,
            },
            {
                icon: `sherardFamily`,
                title: `Sherard Family`,
                text: `The Sherard Family hosts biennial Reunion events, and uses their site to take event registrations and donations. They also have a merch shop with designs by theRamoShe for sale to family.`,
                link: `https://sherardfamily.com`,
            },
            {
                icon: `piano`,
                title: `Private Piano School`,
                text: ` Deborah Cobb teaches piano in Maryland. Her hand coded site provides information about her studio, including a video gallery of student performances, and prominent contact information.`,
                link: `https://privatepianoschool.com`,
            },
            // {
            //     icon: `ramosheLogo`,
            //     title: `theRamoShe`,
            //     text: `Is it cheating to count my own site? It's a hand coded site that features social links, links to shops, a gallery of wood burned artwork, and a portfolio of web design and development work.`,
            //     link: `https://theramoshe.com`,
            // },
            // {
            //     icon: ``,
            //     title: ``,
            //     text: ``,
            //     link: ``,
            // },
        ]} />
    </div>
</section>

<style>
    #clients {
        background-color: var(--gray-contrast);
        box-shadow: 0 0 0 100vmax var(--gray-contrast);
        clip-path: inset(0 -100vmax);
        padding: 4em 0;
    }
    .section-intro {
        width: 80%;
        text-align: center;
        margin: 1em auto 2em;
    }
    .section-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5em;
        align-items: stretch;
    }
</style>