---
import { Image } from "astro:assets";
import Button from "../Button.astro";
import videoPlaceholder from "../../assets/videoPlaceholder.png";
---
<section id="hero" class="section">
    <h1 class="hero-title">
        Hand Crafted Websites <br /> <span class="title-highlight">Built to Glow</span>
    </h1>
    <p class="hero-text">
        Are you an entrepreneur and/or creative looking to avoid the frustrations of website and online business development and set yourself up for future growth? You've come to the right place.
    </p>
    <div class="hero-buttons">
        <Button type="primary" icon="tabler:arrow-big-right-lines" link="/start" text="Start Today!" />
        <Button type="secondary" link="#video" text="Watch the Intro" window />
    </div>
    <div class="hero-video" id="video">
        <!-- TODO - Replace video -->
        <!-- <iframe class="youtube-video" src="https://www.youtube.com/embed/_PEv9VeWtmY?si=OmcPSq0skTWSe_uR&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
        <Image src={videoPlaceholder} alt="video placeholder" class="placeholder" />
    </div>
</section>

<style>
    .placeholder {
        width: 100%;
        height: auto;
    }
</style>

<style>
    #hero {
        margin: 4em 0 7em;
    }
    .hero-title {
        font-size: 3em;
        font-family: var(--font-display);
        text-align: center;
        line-height: 1em;
    }
    .title-highlight {
        color: var(--primary);
    }
    .hero-text {
        width: 80%;
        color: var(--gray);
        text-align: center;
        margin: 1em auto;
    }
    .hero-buttons {
        display: flex;
        justify-content: center;
    }
    .hero-video {
        margin: 4em auto;
    }
    .youtube-video {
        aspect-ratio: 16 / 7;
        width: 100%;
    }

    @media (max-width: 800px) {
        .hero-buttons {
            flex-wrap: wrap;
        }
        .hero-buttons .btn {
            width: 80%;
        }
        .hero-title br {
            display: none;
        }
    }
</style>