---
import { Icon } from 'astro-icon';
---
<section id="problem" class="section">
    <h3 class="section-heading">
        The Problem
    </h3>
    <h2 class="section-title">
        It's all so Overwhelming!
    </h2>
    <p class="section-intro">
        Even with SO MANY platforms and tools available for creating your own website, figuring out the best way to build your brand online is complicated.
    </p>
    <div class="section-content">
        <ul class="content-list">
            <li class="content-item">
                <div class="item-icon"><Icon name="tabler:cloud-lock" /></div>
                <div class="item-text">
                    <h4 class="item-text-title">
                        Platform Limitations
                    </h4>
                    <p class="item-text-content">
                        Every platform has its limitations, whether its customizing your branding or incorporating advanced features you find yourselfhitting a wall.
                    </p>
                </div>
            </li>
			<li class="content-item">
				<div class="item-icon"><Icon name="tabler:heart-handshake" /></div>
				<div class="item-text">
					<h4 class="item-text-title">
						Support & Guidance Needs
					</h4>
					<p class="item-text-content">
						Reading the documentation and watching tutorial videos will get you to a point, but you might find there are many gaps you're left to bridge on your own.
					</p>
				</div>
			</li>
			<li class="content-item">
				<div class="item-icon"><Icon name="tabler:scale" /></div>
				<div class="item-text">
					<h4 class="item-text-title">
						Managing Priorities
					</h4>
					<p class="item-text-content">
						Obviously your business is your first priority, so all the time spent researching and building is time away from what really matters.
					</p>
				</div>
			</li>
            <li class="content-item">
				<div class="item-icon"><Icon name="tabler:businessplan" /></div>
                <div class="item-text">
					<h4 class="item-text-title">
						Expensive Ongoing Fees
                    </h4>
                    <p class="item-text-content">
						Almost all platforms require paid subscription to access full features, often with a monthly pricetag, which can really add up over time.
                    </p>
                </div>
            </li>
			<li class="content-item">
				<div class="item-icon"><Icon name="tabler:chart-line" /></div>
				<div class="item-text">
					<h4 class="item-text-title">
						High Learning Curves
					</h4>
					<p class="item-text-content">
						Adding any kind of customization often requires digging through settings and reading documentation, and depends on availibility of learning resources.
					</p>
				</div>
			</li>
            <li class="content-item">
                <div class="item-icon"><Icon name="tabler:road" /></div>
                <div class="item-text">
                    <h4 class="item-text-title">
                        Long-Term Planning
                    </h4>
                    <p class="item-text-content">
                        Your business needs and goals may change and grow over time, and if your current platform is no longer well suited the transition could be challenging.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>

<style>
    #problem {
        margin-bottom: 4em;
    }
    .section-intro {
        width: 80%;
        text-align: center;
        margin: 1em auto 2em;
    }
    .content-list {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 6%;
    }
    .content-item {
        list-style-type: none;
        width: 47%;
        display: flex;
        margin-bottom: 2em;
    }
    .item-icon {
        background-color: var(--primary);
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
    .item-icon svg {
        height: 30px;
        width: auto;
    }
    .item-text {
        flex-shrink: 100;
        margin-left: 1em;
    }
    .item-text-title {
        margin-bottom: .4em;
    }
    .item-text-content {
        font-size: .9em;
        color: var(--gray);
    }

    @media (max-width: 800px) {
        .content-item {
            width: 100%;
        }
    }
</style>