---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon';

import Image3 from '../../assets/undraw_develop_app.svg';
---
<section id="steps" class="section">
    <div class="section-content">
        <h2 class="title">
            Here's How it Works:
        </h2>
        <ul class="content-list">
            <li class="content-item">
                <div class="item-iconline">
                    <div class="item-icon"><Icon name="tabler:messages" /></div>
                    <div class="item-line"></div>
                </div>
                <div class="item-content">
                    <h4 class="item-title">
                        Phase 1: <span class="step">Consult & Contract</span>
                    </h4>
                    <p class="item-text">
                        It starts with a virtual meeting where we'll discuss everything that will go into the contract.
                    </p>
                </div>
            </li>
            <li class="content-item">
                <div class="item-iconline">
                    <div class="item-icon"><Icon name="tabler:paint" /></div>
                    <div class="item-line"></div>
                </div>
                <div class="item-content">
                    <h4 class="item-title">
                        Phase 2: <span class="step">Design & Edit</span>
                    </h4>
                    <p class="item-text">
                        We'll work together to build mockups for the website design, tweaking until we get it just right.
                    </p>
                </div>
            </li>
            <li class="content-item">
                <div class="item-iconline">
                    <div class="item-icon"><Icon name="tabler:apps" /></div>
                    <div class="item-line"></div>
                </div>
                <div class="item-content">
                    <h4 class="item-title">
                        Phase 3: <span class="step">Build & Content</span>
                    </h4>
                    <p class="item-text">
                        This is where the magic happens! As your site comes to life you'll be able to add all its content.
                    </p>
                </div>
            </li>
            <li class="content-item">
                <div class="item-iconline">
                    <div class="item-icon end"><Icon name="tabler:device-desktop" /></div>
                </div>
                <div class="item-content">
                    <h4 class="item-title">
                        Ready to launch!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
    <div class="section-image">
        <Image src={Image3} alt="" />
    </div>
</section>

<style>
    ul { padding: 0; }
    li { list-style-type: none; }
    #steps {
        margin: 4em auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .section-content, .section-image {
        width: 47%;
    }
    .section-image img {
        width: 100%;
        height: auto;
    }
    .title {
        font-family: var(--font-display);
        font-size: 2em;
        line-height: 1em;
        margin-bottom: 1em;
    }

    .content-item {
        display: flex;
    }
    .item-iconline {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .item-icon {
        width: 50px;
        height: 50px;
        border: 3px solid var(--primary);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .item-icon.end {
        background-color: var(--primary);
    }
    .item-icon svg {
        width: 30px;
        height: auto;
    }
    .item-line {
        background-color: var(--gray-mid);
        width: 1px;
        height: 100%;
        flex-shrink: 100;
    }
    .item-content {
        flex-shrink: 100;
        margin-left: 1em;
    }
    .item-title {
        font-size: 1.2em;
        margin-top: .3em;
    }
    .item-title .step {
        font-weight: 400;
    }
    .item-text {
        color: var(--gray);
        font-size: .9em;
        margin: .5em 0 1em;
    }

    @media (max-width: 800px) {
        #steps {
            flex-wrap: wrap;
        }
        .section-content {
            width: 100%;
        }
        .section-image {
            width: 80%;
            margin: 0 auto;
        }
    }
</style>