---
import Accordion from "../pieces/Accordion.astro";
---
<section id="questions" class="section">
    <h3 class="section-heading">
        The Answers
    </h3>
    <h2 class="section-title">
        Frequently Asked Questions
    </h2>
    <p class="section-intro">Got a swirl of excitement and questions spinning in your mind? Don't worry—this is where we fill in the gaps, clear up any confusion, and make sure you're ready to take the next step!<span class="highlight">Click on any question to see the answer.</span></p>

    <div class="section-content">
        <div class="section-column">
            <div class="content-accordion">
                <Accordion items={[
                    {
                        title: `Who is theRamoShe? Why is she the best?`,
                        text: `Rachel M. Sherard has a educational background in User Experience Design, Marketing Communications, Visual Art, and Media Production. With the power of these skills and a healthy dash of OCD, she is uniquely skilled in translating business needs into website functionality.`
                    },
                    {
                        title: `What types of features can my site have?`,
                        text: `Examples include: social media links/embeds, blog, photo/video gallery, custom forms, e-commerce, membership with premium content, and anything you can dream of that is possible with code. Check the <a href="/services">Services page</a> for more details.`
                    },
                    {
                        title: `How can I use the work I've already done?`,
                        text: `There are many ways that we might be able to integrate other platforms or transfer content from your existing site to your new one. We'll be sure to go over all of this in your initial consult.`
                    },
                    {
                        title: `How long will the design/build process take?`,
                        text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.`
                    },
                    {
                        title: `Will my site be mobile friendly and accessible?`,
                        text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.`
                    },
                    {
                        title: `Can you help with branding, content, etc?`,
                        text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.`
                    },
                    {
                        title: `Do you offer ongoing support?`,
                        text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.`
                    },
                ]} />
            </div>
        </div>
        <div class="section-column">
            <div class="content-accordion">
                <Accordion items={[
                    {
                        title: `How much will all of this cost?`,
                        text: `Check out the <a href="/pricing">Pricing page</a> for all the details about costs and payment schedule. The price you pay will be agreed upon and written into the Contract that is created after our initial meeting.`
                    },
                    {
                        title: `Will I be able to make edits and updates?`,
                        text: `Absolutely! During our planning discussions, we'll determine which parts of your site you'll need to update regularly, and I'll customize the backend to make those areas easy for you to edit. And if you ever need design changes or deeper updates, RamoSites has got you covered!`
                    },
                    {
                        title: `How do I get started with my custom site?`,
                        text: `The first step is <a href="/start">filling out the Get Started form</a> to let me know a little bit about what you're looking for. After you submit the form you'll get a link to schedule our inital consult meeting along with a few other steps you can take to prepare. A contract will be drawn up after our inital meeting and our journey to your dreams will proceed!`
                    },
                    {
                        title: `How will you ensure my site is stable and secure?`,
                        text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.`
                    },
                    {
                        title: `Can you help me with SEO and Google ranking?`,
                        text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.`
                    },
                    {
                        title: `How can I track my site's performance?`,
                        text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.`
                    },
                    {
                        title: `Do you provide hosting? What's the cost?`,
                        text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.`
                    },
                ]} />
            </div>
        </div>
    </div>
</section>

<style>
    #questions {
        margin: 4em 0;
    }
    .section-intro {
        width: 80%;
        text-align: center;
        margin: 1em auto 3em;
    }
    .highlight {
        display: block;
        color: var(--primary);
        font-size: 1.2em;
        margin-top: .5em;
    }
    .section-content {
        display: flex;
        justify-content: space-between;
    }

    .section-column {
        width: 47%;
    }
    .content-accordion {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
</style>