---
import Accordion from "../pieces/Accordion.astro";
---
<section id="questions" class="section">
    <h3 class="section-heading">
        The Answers
    </h3>
    <h2 class="section-title">
        Frequently Asked Questions
    </h2>
    <p class="section-intro">Got a swirl of excitement and questions spinning in your mind? Don't worry—this is where we fill in the gaps, clear up any confusion, and make sure you're ready to take the next step!<span class="highlight">Click on any question to see the answer.</span></p>

    <div class="section-content">
        <div class="section-column">
            <div class="content-accordion">
                <Accordion items={[
                    {
                        title: `Who is theRamoShe? Why is she the best?`,
                        text: `Rachel M. Sherard has a educational background in User Experience Design, Marketing Communications, Visual Art, and Media Production. With the power of these skills and a healthy dash of OCD, she is uniquely skilled in translating business needs into website functionality. Learn more about Rachel, check out her art and more at <a href="https://theramoshe.com" target="_blank">theRamoShe.com</a>`
                    },
                    {
                        title: `What types of features can my site have?`,
                        text: `Examples include: social media links/embeds, blog, photo/video gallery, custom forms, e-commerce, membership with premium content, and anything you can dream of that is possible with code. Check the <a href="/services">Services page</a> for more details.`
                    },
                    {
                        title: `Will I be able to make edits and updates?`,
                        text: `Absolutely! During our planning discussions, we'll determine which parts of your site you'll need to update regularly, and I'll customize the backend to make those areas easy for you to edit. And if you ever need design changes or deeper updates, RamoSites has got you covered!`
                    },
                    {
                        title: `How can I use the work I've already done?`,
                        text: `There are many ways that we might be able to integrate other platforms or transfer content from your existing site to your new one. We'll be sure to go over all of this in your initial consult.`
                    },
                    {
                        title: `How do I get started with my custom site?`,
                        text: `The first step is <a href="/start">filling out the Get Started form</a> to let me know a little bit about what you're looking for. After you submit the form you'll get a link to schedule our inital consult meeting along with a few other steps you can take to prepare. A contract will be drawn up after our inital meeting and our journey to your dreams will proceed!`
                    },
                    {
                        title: `How does the design process work?`,
                        text: `.`
                    },
                    {
                        title: `How long will the design/build process take?`,
                        text: `The timeline varies based on the complexity of your site, but generally, the process takes about 8 to 12 weeks. We'll break everything down during our initial meeting so you'll know exactly what to expect.`
                    },
                ]} />
            </div>
        </div>
        <div class="section-column">
            <div class="content-accordion">
                <Accordion items={[
                    {
                        title: `How much will all of this cost?`,
                        text: `Check out the <a href="/pricing">Pricing page</a> for all the details about costs and payment schedule. The price you pay will be agreed upon and written into the Contract that is created after our initial meeting.`
                    },
                    {
                        title: `Can you help with branding, content, etc?`,
                        text: `Yes, I can help you develop your branding and give you tips for generating content that speaks to your audience. We'll work together to get you from wherever you are to where you want to be. Check the <a href="/services">Services page</a> for more details.`
                    },
                    {
                        title: `How will you ensure my site is stable and secure?`,
                        text: `The tools used for building your site include multiple layers of security, and are carefully chosen for their quality and reliability, which ensures that everything stays secure and stable. Plus, since your site will be static—rather than running complex systems like WordPress—it's naturally more secure and less vulnerable to attacks. You can rest easy knowing your site is built with the latest in security best practices.`
                    },
                    {
                        title: `Can you help me with SEO and Google ranking?`,
                        text: `Absolutely! Every site will be set up with SEO best practices in mind to give it the best chance at success. However, it's important to know that Google ranking is complex and doesn't happen overnight. Along with implementing the technical SEO, advice will be provided on additional steps you can take to further improve your site's SEO over time. It's a continuous process, but with the right foundation, you'll be positioned for growth.`
                    },
                    {
                        title: `How can I track my site's performance?`,
                        text: `Analytics tracking is available as an add-on service (one of the few with ongoing monthly charges). With this service you'll get access to a full analytics dashboard where you can see key metrics about your site's traffic and performance. Plus, there's an option for monthly personalized analysis reports to help you understand what the data means and how to use it to improve your site's success. Check the <a href="/services">Services page</a> and the <a href="/pricing">Pricing page</a> for more details.`
                    },
                    {
                        title: `Do you provide hosting? What's the cost?`,
                        text: `Hosting is included and it's free! Your site will be fast, secure, and cloud-based, so no matter where your visitors are, your site will run smoothly. The reason it's free is that the hosting service is provided by an enterprise-level company, which offers basic services at no cost to help clients get started. For most sites, this free option will be perfectly sufficient long-term, with additional premium services available only if needed as the site and traffic grows.`
                    },
                    {
                        title: `Do you offer ongoing support?`,
                        text: `Yep! After your site is live, I offer ongoing support for updates, troubleshooting, and anything else that comes up. Think of me as your go-to web partner. Check the <a href="/services">Services page</a> for more details.`
                    },
                ]} />
            </div>
        </div>
    </div>
</section>

<style>
    #questions {
        margin: 4em 0;
    }
    .highlight {
        display: block;
        color: var(--primary-contrast);
        font-size: 1.2em;
        margin-top: .5em;
    }
    .section-content {
        display: flex;
        justify-content: space-between;
    }

    .section-column {
        width: 47%;
    }
    .content-accordion {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
</style>