---
import '../styles/section.css';
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="Compare">
    <section id="" class="section top">
        <h3 class="section-heading">
            The Comparison
        </h3>
        <h2 class="section-title">
            How does RamoSites stack up?
        </h2>
        <p class="section-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="section-content">
            <h4>This page is under construction. Check back soon!</h4>
        </div>
    </section>
    <section id="action" class="section cta">
        <div class="section-container">
            <h2 class="section-title">
                Get Started!
            </h2>
            <p class="section-content">
                Ready to get started building your dreams? <br />Fill out the form today!
            </p>
            <div class="content-buttons">
                <Button type="primary" icon="tabler:arrow-big-right-line" link="/start" text="Get Started" />
            </div>
        </div>
    </section>
</Layout>

<style>
    .section-content {
        text-align: center;
    }
</style>