---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact">
	<section id="contact" class="section top">
        <div class="content-text">
            <h2 class="content-title">Get in <span class="title-highlight">Touch</span></h2>
            <div class="content-instructions">
                <p>Have questions or just want to say hello? Feel free to use the form here to reach out about anything. If you're not ready to dive into the <a href="/start">Get Started</a> form, that's okay—I'm here to help and would love to hear from you!</p>
            </div>
        </div>
        <div id="form" class="section content-form">
            <script is:inline type="text/javascript" src="//mautic.ramoshe.com/form/generate.js?id=1"></script>
        </div>
    </section>
</Layout>
<style>
    #contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 5em 0 4em;
    }
    .content-text {
        width: 45%;
    }
    .content-form {
        width: 45%;
        margin-top: 4em;
    }
    .content-title {
        font-family: var(--font-display);
        font-size: 3em;
        line-height: 1em;
    }
    .title-highlight {
        color: var(--primary);
    }
    .content-instructions {
        margin: 2em 0;
    }

    @media (max-width: 800px) {
        .content-text {
            width: 100%;
        }
        .content-form {
            width: 90%;
            margin: 2em auto 0;
        }
    }
</style>
<style is:inline>
    #form label {
        display: block;
        font-weight: bold;
        font-size: .9em;
    }
    #form input, #form textarea {
        width: 100%;
        height: 100%;
        border: 1px solid var(--gray-mid);
        border-radius: 4px;
        padding: .5em;
        margin-bottom: 1.5em;
    }
    #form input:focus, #form textarea:focus {
        outline: 1px solid var(--accent);
    }
    #form button {
        border: none;
        margin: 1em auto;
    }
</style>