---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Problem from '../components/sections/Problem.astro';
import Solution from '../components/sections/Solution.astro';
import Steps from '../components/sections/Process.astro';
import Clients from '../components/sections/Clients.astro';
import Questions from '../components/sections/Questions.astro';
import CTA from '../components/pieces/CTA.astro';
import Button from '../components/Button.astro';

import '../styles/section.css';
---

<Layout title="by theRamoShe">
	<Hero />
	<Problem />
	<Solution />
	<Steps />
	<Clients />
	<Questions />
	<CTA title="Tell Me More!">
		<span slot="content">Want more details about RamoSites' services and pricing? <br />Click one of the buttons below!</span>
		<Button slot="buttons" type="primary" icon="tabler:tools" link="/solutions" text="Solutions" />
        <Button slot="buttons" type="primary" icon="tabler:scale" link="/compare" text="Compare" />
	</CTA>
</Layout>

<style is:global>
	.section-heading {
		text-transform: uppercase;
		text-align: center;
		color: var(--secondary-contrast);
		font-size: .9em;
		letter-spacing: .05em;
	}
	.section-title {
		font-family: var(--font-display);
		font-size: 2.5em;
		text-align: center;
		line-height: 1em;
		max-width: 800px;
		margin: 0 auto;
	}
	.section-intro {
		color: var(--gray);
	}
</style>
