---
import Layout from '../layouts/Layout.astro';
import '../styles/section.css';
---

<Layout title="Pricing">
    <section id="" class="section">
        <h3 class="section-heading">
            The Prices
        </h3>
        <h2 class="section-title">
            How Much will it Cost?
        </h2>
        <div class="section-content">

        </div>
    </section>
</Layout>
