---
import '../styles/section.css';
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import CTA from '../components/pieces/CTA.astro';
import PriceCard from '../components/pieces/PriceCard.astro';
import ProcessFlow from '../components/pieces/ProcessFlow.astro';
import { Icon } from "astro-icon";
import { Image } from 'astro:assets';
import Website from '../assets/undraw_landing_page.svg';
import Contract from '../assets/undraw_online_learning.svg';
import Subscribe from '../assets/undraw_data_trends.svg';
---

<Layout title="Pricing">
    <section id="intro" class="section top">
        <h3 class="section-heading">
            The Solutions
        </h3>
        <h2 class="section-title">
            What are the Services & Pricing?
        </h2>
        <p class="section-intro">Every service is designed to help you build a unique and impactful online presence for your business or brand. With a focus on tailored solutions, each project is customized to meet your specific needs and goals. Explore this page for detailed information and transparent pricing on all available services.</p>
    </section>
<!-- WEBSITE DESIGN & BUILD -->
    <section id="website" class="section gray">
        <div class="section-content">
            <h4 class="section-title">Website Design & Build</h4>
            <p class="section-text">Whether you have an existing site you're looking to upgrade, or building for the first time, RamoSites has you covered. Timeline will vary based on project complexity, but turnarounds are typically 60-90 days.</p>
            <p class="section-text">Pricing is flexible so you are paying for exactly what you need—no less, no more. Payments will be made in 3 installments (first 50%, then each 25% of the project total as written in the Contract) at key points in the workflow.</p>
            <p class="section-text">To see a flowchart that outlines all the major steps in the process, click the button below. Note that you have a 30 day unlimited revision period after the launch of the site.</p>
            <Button type="primary" link="#!" text="Process Flowchart" idname="flowchart" />
        </div>
        <div class="section-image">
            <Image src={Website} alt="Website Design & Build" />
        </div>
        <div class="section-pricing">
            <PriceCard price="250" per="base fee" color="light" plus>
                <p>Covers all meetings, general project setup and Home page.</p>
            </PriceCard>
            <PriceCard price="100" per="per page" color="lighter" plus>
                <p>Add for each additional page as desired. Page count will be set in contract. Some features will require their own pages.</p>
            </PriceCard>
            <PriceCard price="100-200" per="per extra feature" color="lightest">
                <p><b>Examples include</b><br /><i>(but are definitely not limited to):</i></p>
                <p>Image/Video Gallery - <b>$100</b></p>
                <p>Blog w/taxonomies - <b>$150</b></p>
                <p>Custom Forms - <b>$150</b></p>
                <p>E-Commerce - <b>$200</b></p>
                <p>Subscriptions - <b>$200</b></p>
            </PriceCard>
        </div>
    </section>
<!-- CONSULT & CONTRACT -->
    <section id="contract" class="section">
        <div class="section-image">
            <Image src={Contract} alt="Consult & Contract" />
        </div>
        <div class="section-content">
            <h4 class="section-title">Consult & Contract</h4>
            <p class="section-text">For those looking to extend their existing site, or seeking services outside of a full build project, RamoSites has you covered.</p>
            <p class="section-text">Whether you want to add new features, need hands-on training or support, help with branding strategy, content coaching, email marketing setup, website audit, or even WordPress customization, it all starts with a consultation.</p>
            <p class="section-text">Not sure if Ramo handles what you're looking for? <a href="/contact">Just ask!</a> Whatever your goals, RamoSites is here to help you succeed.</p>
            <div class="section-pricing">
                <PriceCard price="50" per="booking fee" color="lighter">
                    <p>Includes up to 2 hours of virtual consultation. Additional time or contract services will be billed separately if required.</p>
                </PriceCard>
                <Button type="primary" idname="booking" link="https://app.squareup.com/appointments/buyer/widget/b0okwnpqhl5j7v/LK93RM75F2SNS" text="Book A Session" window />
            </div>
        </div>
    </section>
<!-- ANALYTICS & POLICIES -->
    <section id="subscribe" class="section gray">
        <div class="section-content">
            <h4 class="section-title">Analytics & Policies</h4>
            <p class="section-text">If you want to track your website's performance, or are utilizing features such as forms, memberships, and e-commerce, then you will need Legal Policies on your site.</p>
            <p class="section-text">With these services, code will be added to your site to generate policies that stay updated with evolving laws. You'll also gain the option for Analytics Tracking and Reporting—statistical insights into your website's performance to guide future decisions and development.</p>
            <p class="section-text">These are the only RamoSites services with monthly fees. Service set up can be added to Website Design & Build, or initiated with a Consult & Contract session. Once you're a subscriber, you'll be able to change plans at any time.</p>
        </div>
        <div class="section-image">
            <Image src={Subscribe} alt="Analytics & Policies" />
        </div>
        <div class="section-pricing">
            <PriceCard price="100" per="one time fee" color="light" space>
                <p>Covers set up and meeting to discuss settings.</p>
            </PriceCard>
            <PriceCard price="10" per="per month" color="lighter" plus>
                <p>Includes Privacy Policy, Cookie Policy, and Terms of Service as needed.</p>
            </PriceCard>
            <PriceCard price="5" per="per month" color="lightest" plus>
                <p><b><i>OPTIONAL:</i></b></p>
                <p>Analytics Dashboard to view stats built into website backend.</p>
            </PriceCard>
            <PriceCard price="10" per="per month" color="lightest">
                <p><b><i>OPTIONAL:</i></b></p>
                <p>Quarterly Analytics Report emails with actionable insights written by Ramo.</p>
            </PriceCard>
        </div>
    </section>
<!-- PAYMENT METHODS -->
    <section id="payment" class="section">
        <div class="section-content">
            <h4 class="section-title">Payment Methods</h4>
            <p class="section-text">RamoSites accepts a variety of electronic payment methods for all services.</p>
        </div>
        <div class="section-icons">
            <Icon name="card-generic" />
            <Icon name="paypal" />
            <Icon name="venmo" />
            <Icon name="apple-pay" />
            <Icon name="google-pay" />
        </div>
    </section>
    <CTA title="Get Started!">
        <span slot="content">Ready to get started building your dreams?<br />Fill out the form today!</span>
        <Button slot="buttons" type="primary" icon="tabler:arrow-big-right-line" link="/start" text="Get Started" />
    </CTA>
</Layout>
<ProcessFlow slot="bodybottom" />

<style>
    .section {
        z-index: 1 !important;
    }
    .section.top {
        margin-bottom: 4em;
    }
    .section:not(.top):not(#payment) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .section:not(.top):not(.gray) {
        padding: 4em 0;
    }
    .section-content {
        width: 55%;
    }
    .section-image {
        width: 35%;
    }
    .section-image img {
        width: 100%;
        height: auto;
    }
    .section:not(.top, #payment) .section-title {
        text-align: left;
    }
    .section:not(.top) .section-title {
        margin-bottom: .5em;
    }
    .section-content p {
        margin-bottom: 1em;
    }
    .section-pricing {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 4em;
    }
    #contract .section-pricing {
        align-items: center;
    }

    #payment .section-content {
        width: 100%;
        text-align: center;
    }
    #payment .section-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3em auto;
        max-width: 800px;
    }
    #payment .section-icons svg {
        height: 70px;
        width: auto;
    }

    @media (max-width: 800px) {
        .section-title {
            text-align: center !important;
        }
        .section-content {
            width: 100%;
            text-align: center !important;
        }
        .section-image {
            display: none;
        }
        .section-pricing {
            flex-direction: column;
        }
        #contract .section-pricing {
            gap: 3em;
        }
        #payment .section-icons {
            flex-wrap: wrap;
            gap: 3em;
            justify-content: center;
            width: 80%;
        }
    }
</style>
<style is:inline>
    #flowchart {
        margin: 3em auto 0;
    }
</style>