---
import Layout from '../layouts/Layout.astro';
import '../styles/policies.css';
---

<Layout title="Privacy Policy">
	<div class="policy-container">
        <h2 class="policy-title">
            Privacy Policy
        </h2>
        <div class="termageddon" id="policy" data-policy-key="YmpSa1JYZEVURGx0ZHpGcVZtYzlQUT09" data-extra="h-align=left&h-depth=3&no-title=true&table-style=accordion" > Please wait while the policy is loaded. If it does not load, please <a rel="nofollow" href="https://app.termageddon.com/api/policy/YmpSa1JYZEVURGx0ZHpGcVZtYzlQUT09?h-align=left&h-depth=3&no-title=true&table-style=accordion" target="_blank">click here</a>.
    </div>
</Layout>
<script is:inline src="https://app.termageddon.com/js/termageddon.js"></script>