---
import Layout from '../layouts/Layout.astro';
import '../styles/section.css';
---

<Layout title="Services">
    <section id="" class="section">
        <h3 class="section-heading">
            The Services
        </h3>
        <h2 class="section-title">
            What can theRamoShe Do for You?
        </h2>
        <div class="section-content">

        </div>
    </section>
</Layout>
