---
import Layout from '../layouts/Layout.astro';
import '../styles/section.css';
---

<Layout title="Solutions">
    <section id="" class="section top">
        <h3 class="section-heading">
            The Solutions
        </h3>
        <h2 class="section-title">
            What are the Services & Pricing?
        </h2>
        <p class="section-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="section-content">
            <h4>This page is under construction. Check back soon!</h4>
        </div>
    </section>
</Layout>

<style>
    .section-content {
        text-align: center;
    }
</style>