---
import '../styles/section.css';
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import CTA from '../components/pieces/CTA.astro';
import PriceCard from '../components/pieces/PriceCard.astro';
import ProcessFlow from '../components/pieces/ProcessFlow.astro';
import { Icon } from "astro-icon";
import { Image } from 'astro:assets';
import Website from '../assets/undraw_landing_page.svg';
import Contract from '../assets/undraw_online_learning.svg';
import Subscribe from '../assets/undraw_data_trends.svg';
---

<Layout title="Solutions">
    <section id="intro" class="section top">
        <h3 class="section-heading">
            The Solutions
        </h3>
        <h2 class="section-title">
            What are the Services & Pricing?
        </h2>
        <p class="section-intro">Every service is designed to help you build a unique and impactful online presence for your business or brand. With a focus on tailored solutions, each project is customized to meet your specific needs and goals. Explore this page for detailed information and transparent pricing on all available services.</p>
    </section>
<!-- WEBSITE DESIGN & BUILD -->
    <section id="website" class="section gray">
        <div class="section-content">
            <h4 class="section-title">Website Design & Build</h4>
            <p class="section-text">Whether you have an existing site you're looking to upgrade, or building for the first time, RamoSites has you covered. Timeline will vary based on project complexity, but turnarounds are typically 60-90 days.</p>
            <p class="section-text">Pricing is flexible so you are paying for exactly what you need—no less, no more. Payments will be made in 4 installments (each 25% of the project total as written in the Contract) at key points in the workflow.</p>
            <p class="section-text">To see a flowchart that outlines all the major steps in the process, click the button below.</p>
            <Button type="primary" link="#!" text="Process Flowchart" idname="flowchart" />
        </div>
        <div class="section-image">
            <Image src={Website} alt="Website Design & Build" />
        </div>
        <div class="section-pricing">
            <PriceCard price="200" per="base fee" color="light" plus>
                <p>Covers all meetings, general project setup and Home page.</p>
            </PriceCard>
            <PriceCard price="100" per="per page" color="lighter" plus>
                <p>Add for each additional page as desired. Page count will be set in contract. Some features will require their own pages.</p>
            </PriceCard>
            <PriceCard price="20-100" per="per extra feature" color="lightest">
                <p><b>Examples include</b><br /><i>(but are definitely not limited to):</i></p>
                <p>Image/Video Gallery - <b>$20</b></p>
                <p>Blog w/taxonomies - <b>$40</b></p>
                <p>Custom Forms - <b>$80</b></p>
                <p>E-Commerce - <b>$100</b></p>
                <p>Subscriptions - <b>$100</b></p>
            </PriceCard>
        </div>
    </section>
<!-- CONSULT & CONTRACT -->
    <section id="contract" class="section">
        <div class="section-image">
            <Image src={Contract} alt="Consult & Contract" />
        </div>
        <div class="section-content">
            <h4 class="section-title">Consult & Contract</h4>
            <p class="section-text">RamoSites offers a variety of additional services to help you take your online presence to the next level. Whether you need a website audit, branding strategy and design, content creation coaching, email marketing setup, or WordPress customization, it all starts with a consultation. Not sure if Ramo handles what you're looking for? Just ask!</p>
            <p class="section-text">If you need extra guidance, you can book a personalized session for training or hands-on support with your website or other related needs. Whatever your goals, RamoSites is here to help you succeed.</p>
            <div class="section-pricing">
                <PriceCard price="25" per="per hour" color="lighter">
                    <p>Options for 1, 1.5, or 2 hour session. If we go over time, the balance will be billed at the end of session.</p>
                </PriceCard>
                <Button type="primary" idname="booking" link="https://app.squareup.com/appointments/buyer/widget/b0okwnpqhl5j7v/LK93RM75F2SNS" text="Book A Session" window />
            </div>
        </div>
    </section>
<!-- ANALYTICS & POLICIES -->
    <section id="subscribe" class="section gray">
        <div class="section-content">
            <h4 class="section-title">Analytics & Policies</h4>
            <p class="section-text">If you want to track website performance, or are utilizing features that require legal policies to be present on the site (i.e. collecting any info from users through forms, for memberships, e-commerce, etc.). These are the only RamoSites services with monthly fees.</p>
            <p class="section-text">Service set up can be added to Website Design & Build, or initiated with a Consult & Contract session. You'll be able to change plans at any time.</p>
        </div>
        <div class="section-image">
            <Image src={Subscribe} alt="Analytics & Policies" />
        </div>
        <div class="section-pricing">
            <PriceCard price="40" per="one time fee" color="light" plus>
                <p>Covers set up for any services.</p>
            </PriceCard>
            <PriceCard price="10" per="per month" color="light" plus>
                <p>Includes Privacy Policy, Cookie Policy, and Terms of Service as needed.</p>
            </PriceCard>
            <PriceCard price="5" per="per month" color="lightest" plus>
                <p><b><i>OPTIONAL:</i></b></p>
                <p>Analytics Dashboard built into website backend to view stats.</p>
            </PriceCard>
            <PriceCard price="10" per="per month" color="lightest">
                <p><b><i>OPTIONAL:</i></b></p>
                <p>Quarterly Analytics Report emails with actionable insights written by Ramo.</p>
            </PriceCard>
        </div>
    </section>
<!-- PAYMENT METHODS -->
    <section id="payment" class="section">
        <div class="section-content">
            <h4 class="section-title">Payment Methods</h4>
            <p class="section-text">RamoSites accepts a variety of electronic payment methods for all services.</p>
        </div>
        <div class="section-icons">
            <Icon name="card-generic" />
            <Icon name="paypal" />
            <Icon name="cashapp" />
            <Icon name="venmo" />
            <Icon name="apple-pay" />
            <Icon name="google-pay" />
        </div>
    </section>
    <CTA title="Get Started!">
        <span slot="content">Ready to get started building your dreams?<br />Fill out the form today!</span>
        <Button slot="buttons" type="primary" icon="tabler:arrow-big-right-line" link="/start" text="Get Started" />
    </CTA>
</Layout>
<ProcessFlow slot="bodybottom" />

<style>
    .section.top {
        margin-bottom: 4em;
    }
    .section:not(.top):not(#payment) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .section:not(.top):not(.gray) {
        padding: 4em 0;
    }
    .section-content {
        width: 55%;
    }
    .section-image {
        width: 35%;
    }
    .section-image img {
        width: 100%;
        height: auto;
    }
    .section:not(.top, #payment) .section-title {
        text-align: left;
    }
    .section:not(.top) .section-title {
        margin-bottom: .5em;
    }
    .section-content p {
        margin-bottom: 1em;
    }
    .section-pricing {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin-top: 4em;
    }
    #contract .section-pricing {
        align-items: center;
    }


    #payment .section-content {
        width: 100%;
        text-align: center;
    }
    #payment .section-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3em 0;
    }
    #payment .section-icons svg {
        height: 70px;
        width: auto;
    }
</style>
<style is:inline>
    #flowchart {
        margin: 2em auto 0;
    }
</style>