---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import StartImage from '../assets/undraw_proud_coder.svg';
---

<Layout title="Get Started">
	<section id="start" class="section">
        <div class="content-text">
            <h2 class="content-title">So you wanna <span class="title-highlight">Get Started</span> with your Custom Site today?</h2>
            <div class="content-instructions">
                <p>Fill out the form below with info about yourself and your business. We'll discuss all of this in our initial meeting before your contract is drawn up.</p>
                <p>If there's something you'd rather talk through than type that's totally understandable. However, providing more info will give us a better head start.</p>
            </div>
        </div>
        <div class="content-image">
            <Image src={StartImage} alt="Get Started" />
        </div>
    </section>
    <section id="form" class="section">
        <div class="content-form">
            <form name="start" action="/thankyou" method="POST" data-netlify="true" onkeydown="return event.key != 'Enter';">
                <fieldset id="about" class="form-section">
                    <h3 class="form-title">A Bit About You</h3>
                    <label for="name" class="half">
                        <span class="required">Name</span>
                        <input type="text" id="name" name="name" required />
                    </label>
                    <label for="email" class="half">
                        <span class="required">Email</span>
                        <input type="email" id="email" name="email" required />
                    </label>
                    <label for="business" class="half">
                        <span>Name of Business/Brand</span>
                        <input type="text" id="business" name="business" />
                    </label>
                    <label for="website" class="half">
                        <span>Existing Website URL?</span>
                        <input type="url" id="website" name="website" />
                    </label>
                </fieldset>
                <fieldset id="branding" class="form-section">
                    <h3 class="form-title">Your Branding & Aesthetic</h3>
                    <label for="describe" class="half">
                        <span>What words describe your brand?</span>
                        <textarea rows="2" id="" name="" />
                    </label>
                    <label for="assets" class="half">
                        <span>Have a logo, colors, or other assets?</span>
                        <textarea rows="2" id="assets" name="assets" />
                    </label>
                    <label for="features" class="half">
                        <span>What features are you looking for?</span>
                        <textarea rows="2" id="features" name="features" />
                    </label>
                    <label for="inspiration" class="half">
                        <span>Other site designs you like? (provide links)</span>
                        <textarea rows="2" id="inspiration" name="inspiration" />
                    </label>
                </fieldset>
                <fieldset id="bigthree" class="form-section">
                    <h3 class="form-title">The BIG THREE Questions about your Website Plans</h3>
                    <label for="purpose">
                        <span>Why are we building a site? What is the purpose? What problems are we solving?</span>
                        <textarea rows="2" id="purpose" name="purpose" />
                    </label>
                    <label for="goals">
                        <span>What are the goals? What do we want visitors to do?</span>
                        <textarea rows="2" id="goals" name="goals" />
                    </label>
                    <label for="visitors">
                        <span>Who are the visitors? What are common demographics, personality traits, needs, goals, etc.</span>
                        <textarea rows="2" id="visitors" name="visitors" />
                    </label>
                </fieldset>
                <button class="btn primary" type="submit">Submit & Continue</button>
            </form>
        </div>
    </section>
</Layout>
<style>
    #start {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 5em 0 4em;
    }
    .content-text {
        width: 47%;
    }
    .content-image {
        width: 47%;
    }
    .content-image img {
        width: 100%;
    }
    .content-title {
        font-family: var(--font-display);
        font-size: 3em;
        line-height: 1em;
    }
    .title-highlight {
        color: var(--primary);
    }
    .content-instructions {
        margin: 2em 0;
    }
    .content-instructions p {
        margin-bottom: 1em;
    }

    @media (max-width: 800px) {
        .content-text, .content-image {
            width: 100%;
        }
        .content-image img {
            max-height: 200px;
        }
    }


    #form {
        max-width: 800px;
        margin: 0 auto 7em;
    }
    .form-section {
        border: none;
        padding: 0;
        margin-bottom: 4em;
    }
    #form h3 {
        margin-bottom: 1.5em;
        font-weight: 800 !important;
        color: var(--primary-contrast);
        border-bottom: 2px solid var(--primary-contrast);
    }
    #form label span {
        display: block;
        font-weight: bold;
        font-size: .9em;
    }
    #form .required::after {
        content: " *";
        color: tomato;
    }
    #form input, #form textarea {
        width: 100%;
        height: 100%;
        border: 1px solid var(--gray-mid);
        border-radius: 4px;
        padding: .5em;
        margin-bottom: 1.5em;
    }
    #form input:focus, #form textarea:focus {
        outline: 1px solid var(--accent);
    }
    #form .half {
        width: 47%;
        float: left;
    }
    #form .half:nth-of-type(odd) {
        margin-right: 6%;
    }
    #form button {
        border: none;
        margin: -1em auto 0;
    }
</style>

<script>
    // window.onkeydown = function(e) {
    //     var key = e.keyCode
    // }
</script>