---
import Layout from '../layouts/Layout.astro';
import StartForm from '../components/pieces/StartForm.astro';
import { Image } from 'astro:assets';
import StartImage from '../assets/undraw_proud_coder.svg';
---

<Layout title="Get Started">
	<section id="start" class="section">
        <div class="content-text">
            <h2 class="content-title">So you wanna <span class="title-highlight">Get Started</span> with your Custom Site today?</h2>
            <div class="content-instructions">
                <p>Fill out the form below with info about yourself and your business. We'll discuss all of this in our initial meeting before your contract is drawn up.</p>
                <p>If there's something you'd rather talk through than type that's totally understandable. However, providing more info will give us a better head start.</p>
                <p>After the form you'll book your inital meeting. There will be a $100 booking fee which will be subtracted from the first payment of your contract.</p>
            </div>
        </div>
        <div class="content-image">
            <Image src={StartImage} alt="Get Started" />
        </div>
    </section>
    <section id="form" class="section">
        <div class="content-form">
            <StartForm />
        </div>
    </section>
</Layout>
<style>
    #start {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 5em 0 4em;
    }
    .content-text {
        width: 47%;
    }
    .content-image {
        width: 47%;
    }
    .content-image img {
        width: 100%;
    }
    .content-title {
        font-family: var(--font-display);
        font-size: 3em;
        line-height: 1em;
    }
    .title-highlight {
        color: var(--primary);
    }
    .content-instructions {
        margin: 2em 0;
    }
    .content-instructions p {
        margin-bottom: 1em;
    }
    #form {
        max-width: 800px;
        margin: 0 auto 7em;
    }

    @media (max-width: 800px) {
        .content-text, .content-image {
            width: 100%;
        }
        .content-image img {
            max-height: 200px;
        }
    }

</style>