---
import '../styles/section.css';
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import CTA from '../components/pieces/CTA.astro';

import { Image } from 'astro:assets';
import ThanksImage from '../assets/undraw_appreciation.svg';
---

<Layout title="Thank You!">
	<section id="thanks" class="section top">
        <div class="content-text">
            <h2 class="content-title">
                <span class="title-highlight">Thank You</span> and Congratulations!
            </h2>
            <p class="content-instructions">You've just taken the first step toward making your website dreams come true! Click the button below to schedule your inital consult appontment!</p>
            <p class="content-instructions"><i><b>Please note:</b> there will be a $100 booking fee which will be subtracted from the first payment of your contract.</i></p>
            <p class="content-instructions">In the meantime, scroll down to take a look at some next steps you can take to prepare.</p>
            <div class="thanks-buttons">
                <Button type="primary" idname="booking" link="https://app.squareup.com/appointments/buyer/widget/t1wixfgf35ntau/LK93RM75F2SNS" text="Book Your Meeting" window />
            </div>
        </div>
        <div class="content-image">
            <Image src={ThanksImage} alt="Thank You!" />
        </div>
    </section>
    <section id="next" class="section">
        <div class="next-intro">
            <h3 class="next-intro-title">
                Get ready for your website build
            </h3>
            <p class="next-intro-text">
                There are a few steps you can take now to get ready for our next steps. A firm understanding of your business/brand goals will support the website building process.
            </p>
        </div>
        <div class="next-content">
            <ul class="content-list">
                <li class="content-item">
                    <div class="item-icon">1</div>
                    <div class="item-content">
                        <h4 class="item-content-title">
                            URL/Domain Name
                        </h4>
                        <p class="item-content-text">
                            If you don't own one already, think about what you might want. Short and memorable is best!
                        </p>
                    </div>
                </li>
                <li class="content-item">
                    <div class="item-icon">2</div>
                    <div class="item-content">
                        <h4 class="item-content-title">
                            Mood Board
                        </h4>
                        <p class="item-content-text">
                            A helpful tool that pulls together images, colors, and fonts to serve as design inspiration for your website. Search the web to get some ideas for how to put one together.
                        </p>
                    </div>
                </li>
                <li class="content-item">
                    <div class="item-icon">3</div>
                    <div class="item-content">
                        <h4 class="item-content-title">
                            Business Plan
                        </h4>
                        <p class="item-content-text">
                            Even an informal plan will get you thinking about important aspects of your business and website. Search "Business Model Canvas" for a simple template to get you started.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <CTA title="More about Ramo">
        <span slot="content">Rachel is a designer, developer, streamer, and wood burning artist.<br />Check out her links and works on her website!</span>
        <Button slot="buttons" type="primary" icon="tabler:arrow-big-right-line" link="https://theramoshe.com" text="Go To theRamoShe.com" />
    </CTA>
</Layout>
<style>
    ul { padding: 0; }
    li { list-style-type: none; }

    #thanks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5em;
    }
    .content-text {
        width: 47%;
    }
    .content-image {
        width: 47%;
    }
    .content-image img {
        width: 100%;
        height: auto;
    }
    .content-title {
        font-family: var(--font-display);
        font-size: 2.5em;
        line-height: 1em;
    }
    .title-highlight {
        color: var(--primary);
    }
    .content-instructions {
        margin: 2em 0;
    }
    .thanks-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
    }

    #next {
        background-color: var(--gray-contrast);
        box-shadow: 0 0 0 100vmax var(--gray-contrast);
        clip-path: inset(0 -100vmax);
        padding: 4em 0;
        display: flex;
        justify-content: space-between;
    }
    .next-intro, .next-content {
        width: 47%
    }
    .next-intro-title {
        font-family: var(--font-display);
        font-size: 2em;
        line-height: 1em;
    }
    .next-intro-text {
        color: var(--gray);
        margin: 2em 0;
    }
    .content-item {
        display: flex;
        margin-bottom: 1em;
    }
    .item-icon {
        font-weight: 800;
        line-height: 1em;
        color: var(--primary-contrast);
        background-color: var(--text-color);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .item-content {
        flex-shrink: 100;
        margin-left: 1em;
    }
    .item-content-text {
        color: var(--gray);
        font-size: .9em;
    }

    @media (max-width: 800px) {
        .content-text, .content-image {
            width: 100%;
        }
    }
</style>