---
import { Image } from "astro:assets";
import { ThemeSwitch } from "astro-color-scheme";
import { Icon } from "astro-icon";
import Logo from "../assets/logo.svg";
import Nav from "./Nav.astro";
---
<header>
    <a class="logo-name" href="/">
        <Image class="logo" src={Logo} alt="theRamoShe Logo" />
        <span class="name">Sites by theRamoShe</span>
    </a>
    <div class="toggle-button">
        <div class="toggle">
            <ThemeSwitch strategy="checkbox" defaultTheme="dark">
                <input type="checkbox" id="toggle" />
                <label for="toggle"><Icon name="tabler:sun" /></label>
            </ThemeSwitch>
        </div>
        <Nav />
    </div>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px auto;
        padding: 0 30px;
        width: 100%;
        max-width: 1400px;
    }

    .logo-name {
        display: flex;
        align-items: center;
        column-gap: 1em;
        text-decoration: none;
        color: var(--text-color);
    }
    .logo {
        width: 70px;
        height: 70px;
    }
    .name {
        font-weight: bold;
    }

    .toggle-button {
        display: flex;
        align-items: center;
    }
    .toggle input[type='checkbox'] {
        display: none;
    }
    .toggle {
        line-height: 0;
        padding: .7em;
        margin-right: 1.5em;
        border-radius: 10px;
        transition: color var(--animationEffect), background-color var(--animationEffect);
    }
    .toggle svg {
        width: 30px;
    }
    .toggle:hover {
        background-color: var(--accent);
        color: var(--black);
    }
</style>