---
import { Image } from "astro:assets";
import Logo from "../assets/logo.svg";
import { ThemeSwitch } from "astro-color-scheme";
import { Icon } from "astro-icon";
---
<header>
    <a class="logo-name" href="/">
        <Image class="logo" src={Logo} alt="Myte Logo" />
        <span class="name">RamoSites</span>
    </a>
    <div class="toggle-button">
        <div class="toggle">
            <ThemeSwitch strategy="checkbox" defaultTheme="dark">
                <input type="checkbox" id="toggle" />
                <label for="toggle"><Icon  name="heroicons-outline:sun" /></label>
            </ThemeSwitch>
        </div>
        <a href="/start" class="btn btn-secondary start-button">Get Started</a>
    </div>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px auto;
        padding: 0 20px;
        width: 100%;
        max-width: 1400px;
    }

    .logo-name {
        display: flex;
        align-items: center;
        column-gap: 1em;
        text-decoration: none;
        color: var(--text-color);
    }
    .logo {
        width: 100px;
        height: 100px;
    }
    .name {
        font-weight: bold;
    }

    .toggle-button {
        display: flex;
        align-items: center;
    }
    .toggle input[type='checkbox'] {
        display: none;
    }
    .toggle {
        line-height: 0;
        padding: .5em;
    }
    .toggle svg {
        width: 30px;
    }
    .toggle:hover {
        background-color: var(--accent);
        border-radius: 10px;
        color: var(--black);
    }

    @media (max-width: 800px) {
        .start-button {
            display: none;
        }
    }
</style>